{
    "presets": [
        [
            "es2015",
            {
                "modules": false
            }
        ],
        "stage-0"
    ],
    "plugins": [
        "external-helpers"
    ]
}
