{
    "presets": ["stage-2"],
    "plugins": [
        "external-helpers"
    ],
    "env": {
        "coverage": {
            "plugins": [
                ["istanbul", {
                    "exclude": [
                        "tests/**"
                    ]
                }]
            ]
        }
    }
}
