{
    "presets": ["stage-2"],
    "plugins": ["external-helpers"],
    "ignore": ["node_modules/**"],
    "env": {
        "test": {
            "plugins": [ "istanbul" ]
        },
        "development": {
            "plugins": [ "istanbul" ]
        }
    }
}
