<div class="rel" id="example11reference1">
    <p class="bold">Hey!</p>
    <p class="thin">Choose where put your popper!</p>
    <select id="example11positionSelector">
        <option value="top">Top</option>
        <option value="right">Right</option>
        <option value="bottom">Bottom</option>
        <option value="left">Left</option>
    </select>
</div>

<div class="popper" width="200" id="example11popper1">
    <p class="bold">Popper on <b id="example11currentPosition" class="currentPosition"></b></p>
    <div class="popper__arrow" x-arrow></div>
</div>

<script>

document.addEventListener('DOMContentLoaded', function(){
    var index = 0;

    $('#example11positionSelector').on('change', attachPopper);
    
    // Stop autoflip popper when the user click on the dropdown
    $('#example11positionSelector').on('click', function() {
        clearInterval(autoPopperFunctionTimer);
    });

    var autoPopperFunctionTimer = setInterval(function() {
        if (index === 0) {
            $('#example11positionSelector').val('top');
            $('#example11positionSelector').trigger('change');
            index++;
        } else if (index === 1) {
            $('#example11positionSelector').val('right');
            $('#example11positionSelector').trigger('change');
            index++;
        } else if (index === 2) {
            $('#example11positionSelector').val('bottom');
            $('#example11positionSelector').trigger('change');
            index++;
        } else {
            $('#example11positionSelector').val('left');
            $('#example11positionSelector').trigger('change');
            index = 0;
        }
    }, 4000);

    function attachPopper(evt) {
        var position = evt.target.value;

        //Some changes in the code example
        document.getElementById('example11Title').textContent = "You placed the popper, you wrote this code:";
        document.getElementById('example11code').className = "";

        //Position of the popper
        document.getElementById('example11currentPosition').textContent = position;

        //Position for the code example
        document.getElementById('example11code').getElementsByClassName('s1')[0].textContent = "'" + position + "'";

        var popper = new Popper(example11reference1, example11popper1, {
            placement: position,
            boundariesElement: example11reference1.parentNode
        });
    }
});

</script>
