<div class="rel" id="example11reference1">
    <p class="bold">Choose</p>
    <p class="thin">where put your popper</p>
    <select id="example11positionSelector">
        <option value="top">Top</option>
        <option value="right">Right</option>
        <option value="bottom">Bottom</option>
        <option value="left">Left</option>
    </select>
</div>

<div class="popper" width="200" id="example11popper1">
    <p class="bold">Popper on <b id="example11currentPosition"></b></p>
    <div class="popper__arrow" x-arrow></div>
</div>

<script>
    
document.getElementById('example11positionSelector').addEventListener('change', attachPopper);
    
function attachPopper(evt) {
    var position = evt.target.value;
    document.getElementById('example11currentPosition').textContent = position;

    var popper = new Popper(example11reference1, example11popper1, {
        placement: position,
        boundariesElement: example11reference1.parentNode
    });
}
</script>
