<div class="rel" id="example1reference1">
    <p class="bold">Pop</p>
    <p class="thin">on 4 sides</p>
</div>

<div class="popper" width="200" id="example1popper1">
    <p class="bold">Popper on top</p>
    <div class="popper__arrow" x-arrow></div>
</div>
<div class="popper" width="200" id="example1popper2">
    <p class="bold">Popper on bottom</p>
    <div class="popper__arrow" x-arrow></div>
</div>
<div class="popper" width="200" id="example1popper3">
    <p class="bold">Popper on left</p>
    <div class="popper__arrow" x-arrow></div>
</div>
<div class="popper" width="200" id="example1popper4">
    <p class="bold">Popper on right</p>
    <div class="popper__arrow" x-arrow></div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function(){
    setTimeout(function() {
        var popperOnTop = new Near(example1reference1, example1popper1, {
            placement: 'top',
            boundariesElement: example1reference1.parentNode
        });
        var popperOnBottom = new Near(example1reference1, example1popper2, {
            placement: 'bottom',
            boundariesElement: example1reference1.parentNode
        });
        var popperOnLeft = new Near(example1reference1, example1popper3, {
            placement: 'left',
            boundariesElement: example1reference1.parentNode
        });
        var popperOnRight = new Near(example1reference1, example1popper4, {
            placement: 'right',
            boundariesElement: example1reference1.parentNode
        });
    }, 1000);
});
</script>
