.Navigation {
  position: relative;
  background: transparent;
  padding: 1rem 0;
  overflow: visible;
}

.NavigationList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
}

.NavigationItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: white;
  border: 1px solid #d7dce5;
  border-radius: 4px;
  font-size: 16px;
  text-align: left;
  line-height: 1.5;
  min-width: 110px;
  padding: 6px 14px;
  margin: 0;
  outline: 0;
  text-decoration: none;
  color: black;
}

.NavigationItem:hover {
  background: #d7dce5;
}

.NavigationItem:focus-visible {
  outline: 2px solid royalblue;
}

.SubNavigation {
  padding: 0.5rem;
  border: 1px solid #d7dce5;
  border-radius: 4px;
}
