.root {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 3px;
  padding: 5px;
  color: var(--fuidt-colorNeutralForeground1);
  background-color: var(--fuidt-colorNeutralBackground1);
  height: inherit;
  width: inherit;
  overflow: auto;
  box-sizing: border-box;
}

.icon {
  text-decoration-line: none;
  position: relative;
  top: -5px;
  z-index: 1;
}

.link {
  color: var(--fuidt-colorBrandForegroundLink);
}
.link:hover {
  color: var(--fuidt-colorBrandForegroundLinkHover);
  text-decoration: underline;
}
.link:active {
  color: var(--fuidt-colorBrandForegroundLinkPressed);
}
.link:focus-visible {
  color: var(--fuidt-colorStrokeFocus2);
  text-decoration: underline;
  text-decoration-style: double;
  outline: none;
}

.lightTheme {
  --fuidt-htmlElementColor: rgb(133, 153, 0);
  --fuidt-stringColor: rgb(203, 75, 22);
  --fuidt-propertyColor: rgb(0, 43, 54);
  --fuidt-colorNeutralBackground1: #ffffff;
  --fuidt-colorNeutralForeground1: #242424;
  --fuidt-colorBrandForegroundLink: #115ea3;
  --fuidt-colorBrandForegroundLinkHover: #0f548c;
  --fuidt-colorBrandForegroundLinkPressed: #0c3b5e;
  --fuidt-colorBrandForegroundLinkSelected: #115ea3;
  --fuidt-colorStrokeFocus2: #000000;
}

.darkTheme {
  --fuidt-htmlElementColor: rgb(166, 226, 46);
  --fuidt-stringColor: rgb(253, 151, 31);
  --fuidt-propertyColor: rgb(249, 248, 245);
  --fuidt-colorNeutralBackground1: #292929;
  --fuidt-colorNeutralForeground1: #ffffff;
  --fuidt-colorBrandForegroundLink: #479ef5;
  --fuidt-colorBrandForegroundLinkHover: #62abf5;
  --fuidt-colorBrandForegroundLinkPressed: #2886de;
  --fuidt-colorBrandForegroundLinkSelected: #479ef5;
  --fuidt-colorStrokeFocus2: #ffffff;
}
