[data-reach-skip-nav-link] {
  color: black;
  margin-left: 18rem;
}

@media (max-width: 600px) {
  [data-reach-skip-nav-link] {
    margin-left: calc(25vw);
  }
}

.shiki {
  position: relative;
}

::selection {
  background-color: #60a5fa;
  color: black;
}

code ::selection {
  background-color: rgba(200, 200, 255, 0.25);
  color: inherit;
}
