#carbonads {
  background-color: #281d2f;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  width: 310px;
  height: 155px;
  margin: 20px auto 0;
}

#carbonads a {
  border: none;
}

.carbon-wrap {
  display: flex;
}

.carbon-img {
  padding-right: 10px;
}

.carbon-poweredby {
  display: block;
  text-align: right;
  font-size: 12px;
}

.carbon-text {
  font-size: 14px;
}

.carbon-text,
.carbon-poweredby {
  text-decoration: none;
  color: inherit;
}
