body {
  line-height: 1.6;
  background: #2f263c;
  color: #d2cbe4;
  font-family: -apple-system, 'Helvetica Neue', 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', sans-serif;
}

::selection {
  text-shadow: none;
  background: #8f51e6;
}

h1,
h2,
h3 {
  font-weight: normal;
}
