name: Release Floating UI

concurrency: ${{ github.workflow }}-${{ github.ref }}

on:
  push:
    branches: [master, next]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/typescript
      - uses: ./.github/actions/unit
      - uses: ./.github/actions/functional

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - name: Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          version: node .github/changeset-version.js
          publish: pnpm run release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
